* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
  background-color: rgb(21, 21, 21);
  /* border: red solid; */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    background-color: transparent;
  }
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border: 20px solid #555555;
  border-radius: 15px 15px 15px 15px;
}


@media (max-width: 800px) {

  /* Adjust styles for smaller screens here */
  /* splash screen */
  .intro {
    position: absolute;
    z-index: 200;
    left: 0px;
    top: 0px;
    width: 210%;
    height: 100%;
    background-color: rgb(21, 21, 21);
    transition: 2s;
    opacity: 0;
  }

  .logo-header {
    position: absolute;
    opacity: 0;
    font-size: 25px;
    top: 270px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }

  .logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.3s;
  }

  .logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.2s;
  }

  .intro-image {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 235px;
    left: 250px;
  }

  .intro-image img {
    width: 90%;
    height: 80px;
    opacity: 0;
  }


  /* Dropdown */
  .navbar-wrapper {
    color: #000000;
    font-family: Sans-Serif;
    background-color: rgb(21, 21, 21);
    position: fixed;
    z-index: 100;
  }

  .container {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 20;
  }

  .navbar-logo {
    position: relative;
    top: 5px;
    height: 70px;
    width: auto;
    z-index: 20;
  }

  .dd-button {
    position: absolute;
    display: inline-block;
    border: 0.5px orange;
    color: white;
    padding: 10px 10px 15px;
    background-color: rgb(21, 21, 21);
    cursor: pointer;
    white-space: nowrap;
    top: 10px;
    right: 0px;
  }
  .dd-button span{
    font-size: 30px;
  }
  .dd-button:hover {
    background-color: rgb(21, 21, 21);
  }

  .dd-input {
    display: none;
  }

  #video-box {
    height: 600px;
    width: 200%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 67%;
    object-fit: cover;
    opacity: 0.4;
  }

  .nav-menu {
    width: 35%;
    color: #cccccc;
    position: absolute;
    top: 100%;
    right: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 #cccccc;
    background-color: #ffffff;
    list-style-type: none;
    z-index: 107;
  }

  .dd-input+.nav-menu {
    display: none;
  }

  .dd-input:checked+.nav-menu {
    display: block;
  }

  .nav-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

  .nav-menu li:hover {
    background-color: #cccccc;
    ;
  }

  .nav-menu li a {
    color: #cccccc;
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  .nav-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

  /* We are literary brains */
  .vertical-center {
    width: 100%;
    position: absolute;
    top: 490px;
    left: 40px;
    transform: translate(0, -50%);
    padding: 10px;
  }

  .vertical-center h2 {
    font-size: 50px;
    letter-spacing: 1.5px;
    color: rgb(252, 248, 240)
  }

  .vertical-center h3 {
    font-size: 20px;
    color: #9b9b9b;
  }

  .static-logo {
    position: absolute;
    opacity: 0.5;
    top: 400px;
    height: 250px;
    right: 0%;
    /* overflow: -moz-hidden-unscrollable; */
  }

  .about-us {
    position: absolute;
    top: 800px;
    left: 150px;
    width: 100%;
    margin: auto;
    text-align: left;
  }

  .about-us-element {
    position: relative;
    flex: 1;
    margin: auto;
    top: 30px;
    left: -100px;
    width: 180%;
    padding: 1rem;
  }

  .about-us-element h2 {
    position: absolute;
    top: 670px;
    left: 150px;
    font-size: 70px;
    color: rgb(252, 248, 240);
    text-align: center;
  }

  .about-us h3 {
    position: absolute;
    top: 800px;
    left: -30px;
    font-size: 23px;
    color: rgb(252, 248, 240);
    text-align: center;
  }

  .social-media {
    width: 100%;
    height: 400px;
    position: absolute;
    top: -30px;
    left: -50px;
  }

  .social-media img {
    width: 150%;
    height: 600px;
  }

  /* EVENTS */
  .our-events-container {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 2300px;
    left: 250px;
  }

  .our-events-element1 {
    position: absolute;
    width: 100%;
    height: 400px;
    padding: 20px;
    left: -75px;
    top: 50px;
  }

  .our-events-element2 {
    width: 100%;
    top: 70px;
    position: absolute;
    left: 180px;
    font-size: 80px;
  }

  .static-logo2 {
    position: absolute;
    top: -120px;
    opacity: 0.7;
    width: 140%;
    height: 375px;
    left: -230px;
  }

  /* New Events Section */
  .flex-container {
    display: flex;
    position: absolute;
    top: 2600px;
    left: 10px;
    width: 100%;
    height: 1000px;
  }

  .book_container {
    position: absolute;
  }

  .book_description {
    width: 50%;
    color: white;
    flex: 2;
    position: absolute;
    left: 51%;
    top: 65px;
    background-color: transparent;
    padding-right: 50px;
  }

  #book_slider-wrapp {
    width: 50%;
    height: fit-content;
    position: absolute;
    height: auto;
    margin: auto;
    text-align: center;
    flex: 1;
  }

  .book_description h2 {
    color: #FFFFFF;
    font-size: 65px;
    position: absolute;
    top: 240px;
    left: 200px;
    rotate: 90deg;
    width: 250%;
    background-color: transparent;
  }

  .event_brick {
    width: 30px;
    height: 90px;
    background-color: orange;
    position: absolute;
    left: 520px;
    top: 13px;
  }


  .book_description p {
    width: 90%;
    position: absolute;
    top: 130px;
    left: -20px;
    text-align: justify;
    opacity: 0;
    background-color: transparent;
  }

  #book_slider-wrapp #book_slider {
    width: 100%;
    height: auto;
    position: relative;
  }

  #book_slider-wrapp #book_slider .slide {
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add slight shadow */
    border: 2px solid #FFFFFF;
    /* Add white border */
  }

  #book_slider-wrapp #book_slider .slide img {
    width: 100%;
    border-radius: 2px;
    /* Optional: Add border-radius to the image */
    border: 1px solid #FFFFFF;
    /* Optional: Add border to the image */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(1) {
    top: 80px;
    opacity: 1;
    transform: scale(0.5);
    /* Decrease size by 50% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(2) {
    top: 40px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(3) {
    top: 0px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(4) {
    top: 100px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(5) {
    top: 50px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  #book_slider-wrapp #book_slider .slide.active {
    top: 0;
    opacity: 1;
  }

  #book_slider-wrapp #book_slider.transfomer .slide {
    /* Adjust transformations as needed for the 2D effect */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(2) {
    top: 160px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(3) {
    top: 100px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(4) {
    top: 40px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(5) {
    top: 20px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  /* CRESCENTIA STYLES */
  .crescentia_container {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 500px;
  }

  .crescentia_description {
    width: 50%;
    color: white;
    flex: 2;
    position: absolute;
    left: 51%;
    top: 65px;
    background-color: transparent;
    padding-right: 50px;
  }

  #crescentia_slider-wrapp {
    width: 50%;
    height: fit-content;
    position: absolute;
    left: 130px;
    height: auto;
    margin: auto;
    text-align: center;
    flex: 1;
  }

  .crescentia_description h2 {
    color: #FFFFFF;
    font-size: 65px;
    position: absolute;
    top: 120px;
    left: -250px;
    rotate: 270deg;
    background-color: transparent;
  }

  /* .crescentia_description span {
    background-color: #e2761d;
    color: black;
  } */

  .event1_brick {
    width: 30px;
    height: 90px;
    background-color: orange;
    position: absolute;
    left: -140px;
    top: -13px;
  }

  .crescentia_description p {
    width: 90%;
    text-align: justify;
    position: absolute;
    top: 130px;
    left: -10px;
    opacity: 0;
    background-color: transparent;
  }

  #crescentia_slider-wrapp #slider1 {
    width: 100%;
    height: auto;
    position: relative;
  }

  #crescentia_slider-wrapp #slider1 .slide1 {
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add slight shadow */
    border: 2px solid #FFFFFF;
    /* Add white border */
  }

  #crescentia_slider-wrapp #slider1 .slide1 img {
    width: 100%;
    border-radius: 2px;
    /* Optional: Add border-radius to the image */
    border: 1px solid #FFFFFF;
    /* Optional: Add border to the image */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(1) {
    top: 80px;
    opacity: 1;
    transform: scale(0.5);
    /* Decrease size by 50% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(2) {
    top: 40px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(3) {
    top: 0px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(4) {
    top: 100px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(5) {
    top: 50px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  #crescentia_slider-wrapp #slider1 .slide1.active {
    top: 0;
    opacity: 1;
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1 {
    /* Adjust transformations as needed for the 2D effect */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(2) {
    top: 160px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(3) {
    top: 100px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(4) {
    top: 40px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(5) {
    top: 20px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }


  /* LITERATI STYLES */
  .literati_container {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 500px;
  }

  .literati_description {
    width: 50%;
    color: white;
    flex: 2;
    position: absolute;
    left: 51%;
    top: 65px;
    background-color: transparent;
    padding-right: 50px;
  }

  #literati_slider-wrapp {
    width: 50%;
    height: fit-content;
    position: absolute;
    height: auto;
    margin: auto;
    text-align: center;
    flex: 1;
  }

  .literati_description h2 {
    color: #FFFFFF;
    font-size: 80px;
    position: absolute;
    top: 110px;
    left: 290px;
    rotate: 90deg;
    background-color: transparent;
  }

  .literati_description p {
    width: 100%;
    position: absolute;
    top: 130px;
    text-align: justify;
    opacity: 0;
    background-color: transparent;
  }

  .event2_brick {
    width: 30px;
    height: 90px;
    background-color: orange;
    position: absolute;
    left: 520px;
    top: 13px;
  }

  #literati_slider-wrapp #slider2 {
    width: 100%;
    height: auto;
    position: relative;
  }

  #literati_slider-wrapp #slider2 .slide2 {
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add slight shadow */
    border: 2px solid #FFFFFF;
    /* Add white border */
  }

  #literati_slider-wrapp #slider2 .slide2 img {
    width: 100%;
    border-radius: 2px;
    /* Optional: Add border-radius to the image */
    border: 1px solid #FFFFFF;
    /* Optional: Add border to the image */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(1) {
    top: 80px;
    opacity: 1;
    transform: scale(0.5);
    /* Decrease size by 50% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(2) {
    top: 40px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(3) {
    top: 0px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(4) {
    top: 100px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(5) {
    top: 50px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  #literati_slider-wrapp #slider2 .slide2.active {
    top: 0;
    opacity: 1;
  }

  #literati_slider-wrapp #slider2.transfomer .slide2 {
    /* Adjust transformations as needed for the 2D effect */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(2) {
    top: 160px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(3) {
    top: 100px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(4) {
    top: 40px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(5) {
    top: 20px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }


  /* EVENT CARDS END */
  /* Segments */
  .segments-container {
    position: absolute;
    top: 4200px;
    width: 100%;
    font-size: 20px;
  }

  .segments-element1 {
    width: 100%;
    position: absolute;
    font-size: 70px;
    top: 70px;
    left: 420px;
    z-index: 101;
  }

  .segments-element2 {
    position: relative;
    width: 70%;
    top: 50%;
    left: 50px;
    font-size: 80px;
  }

  .static-logo3 {
    position: absolute;
    left: 30px;
    top: -30px;
    opacity: 0.70;
    width: 130%;
  }

  .wrapper {
    position: absolute;
    /* border: red solid; */
    top: 4400px;
    left: 150px;
    margin: auto;
    width: 75%;
    padding: 50px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    margin: 20px 0;
    width: 200%;
  }

  .card {
    align-items: flex-end;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    /* Spacing between cards */
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    height: 100px;
    /* Initial card height */
    width: 100%;
    /* Full width */
  }

  .card>.row {
    color: transparent;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 40px;
    width: 100%;
  }

  .card>.row>.icon {
    display: none;
    align-items: center;
    background: #223;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px;
    height: 50px;
    /* Adjusted height */
    width: 150px;
  }

  .card>.row>.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
    height: 80px;
    width: 100%;
    text-align: center;
    /* Center text */
  }

  .description p {
    color: #b0b0ba;
    font-size: 8px;
  }

  .description h4 {
    text-transform: uppercase;
  }

  input {
    display: none;
  }

  input:checked+label {
    height: 450px;
    /* Expanded height */
  }

  input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .card[for="c1"] {
    background-image: url('./assets/images/spotlight.png');
  }

  .card[for="c2"] {
    background-image: url('./assets/images/polls.png');
  }

  .card[for="c3"] {
    background-image: url('./assets/images/Lyrically_Speaking.png');
  }

  .card[for="c4"] {
    background-image: url('./assets/images/Recommends.png');
  }

  .card[for="c5"] {
    background-image: url('./assets/images/Monday_musings.png');
  }


  /* contact us */
  .contact-container {
    position: absolute;
    top: 5450px;
    left: 50px;
    font-size: 30px;
  }

  .contact-element3 {
    width: 100%;
    float: center;
    padding: 20px;
    position: relative;
    color: rgb(252, 248, 240);
    top: 50%;
  }

  .contact-element3 h1 {
    font-size: 40px;
  }

  .contact-element3 p {
    position: absolute;
    color: rgb(252, 248, 240);
    font-size: 20px;
    left: 20px;
  }

  .contacts-container {
    position: absolute;
    top: 5500px;
    left: 90px;
    padding: 10px 0px;
    background-color: rgb(21, 21, 21);
    width: max-content;
    display: flex;
    align-items: center;
  }

  .social-links {
    text-align: center;
    margin: 20px 0px;
  }

  .social-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: rgb(21, 21, 21);
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 5px 0px #909090;
    color: rgb(252, 248, 240);
    overflow: hidden;
    position: relative;
  }

  .social-btn i {
    line-height: 50px;
    font-size: 22px;
    transition: 0.2s linear;
  }

  .social-btn:hover i {
    transform: scale(1.3);
    color: rgb(220, 144, 22);
  }

  .social-btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(21, 21, 21);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  .social-btn:hover::before {
    animation: effect 0.6s 1;
    top: -10%;
    left: -10%;
  }

  p a {
    color: #aa3d4f;
  }

  /*-- Hover Animation Effect --*/
  @keyframes effect {
    0% {
      left: -120%;
      top: 100%;
    }

    50% {
      left: 10%;
      top: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }

  .gallery2 {
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 80%;
    height: 300px;
    transition: all 400ms;
  }

  .gallery2:hover .box {
    filter: grayscale(100%) opacity(24%);
  }

  .box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery2 .box:hover {
    filter: grayscale(0%) opacity(100%);
  }

  .gallery2:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  }

  .gallery2:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  }

  .gallery2:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  }

  .gallery2:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  }

  .gallery2:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  }

  /*-- Footer Responsive CSS --*/
  @media (max-width: 576px) {
    .social-btn {
      width: 40px;
      height: 40px;
      margin: 5px;
    }

    .social-btn i {
      line-height: 40px;
      font-size: 18px;
    }
  }
}




/* For screens with a width between 769px and 1024px (typical tablet devices) */
@media (min-width: 769px) and (max-width: 1024px) {

  /* Adjust styles for tablets here */
  /* Adjust styles for smaller screens here */
  header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
  }

  header h4 {
    position: absolute;
    left: 5%;
    bottom: 1rem;
    font-size: 1.6rem;
  }

  /* splash screen */
  .intro {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    transition: 2s;

  }

  .intro span {
    font-size: 18px;
  }

  .logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }

  .logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  .logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    color: #222222
  }

  /* Dropdown */
  .navbar-wrapper {
    color: #000000;
    font-family: Sans-Serif;
    background-color: #f6f6f6;
    position: fixed;
    z-index: 100;
  }

  .container {

    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 20;

  }

  .navbar-logo {
    position: relative;
    top: 5px;
    height: 40px;
    width: auto;
    z-index: 20;
  }

  .dd-button {
    position: absolute;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    right: 0px;
    z-index: top;
  }

  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cccccc;
    ;
  }

  .dd-button:hover {
    background-color: #eeeeee;
  }


  .dd-input {
    display: none;
  }

  .nav-menu {
    color: #cccccc;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 #cccccc;
    ;
    background-color: #ffffff;
    list-style-type: none;
    z-index: 3;
  }

  .dd-input+.nav-menu {
    display: none;
  }

  .dd-input:checked+.nav-menu {
    display: block;
  }

  .nav-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }

  .nav-menu li:hover {
    background-color: #cccccc;
    ;
  }

  .nav-menu li a {
    color: #cccccc;
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }

  .nav-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

  /* We are literary brains */
  .vertical-center {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translate(0, -50%);
    padding: 10px;

  }

  .vertical-center h2 {
    font-size: 40px;
    color: rgb(252, 248, 240)
  }

  .vertical-center p {
    font-size: 20px;
    color: rgb(252, 248, 240)
  }

  .static-logo {
    position: absolute;
    opacity: 0.5;
    top: 400px;
    height: 250px;
    right: 0%;
    /* overflow: -moz-hidden-unscrollable; */
  }

  .static-logo3 {
    position: absolute;
    right: 0;
    top: -30px;
    opacity: 0.5;
    width: 150px;
  }


  .about-us {
    position: absolute;
    top: 900px;
    width: 100%;
    margin: auto;
    width: 100%;
    text-align: center;
  }

  .about-us-element {
    position: relative;
    flex: 1;
    margin: auto;
    width: 100%;
    padding: 1rem;
  }

  .about-us-element1 {
    flex: 2;
    margin: auto;
    width: 50%;
    padding-top: 40px;


  }

  .about-us-element h1 {
    font-size: 40px;
    color: rgb(252, 248, 240);
    text-align: center
  }

  .about-us p {
    font-size: 12px;
    color: rgb(252, 248, 240);
    text-align: center;

  }

  #carousel {
    border: 5px solid;
    margin: auto;
    width: 50%;
    border: red solid;
    transform-style: preserve-3d;
  }

  .card1 {
    margin: auto;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: 1s;

  }

  .card1 img {
    height: 200px;
  }

  .card1:nth-child(1) {
    transform: translateX(0) translateZ(0);
    background: #add8e6;
  }

  .card1:nth-child(2) {
    transform: translateX(-55%) translateZ(-50px) scale(0.8);
    background: #ff7f50;
  }

  .card1:nth-child(3) {
    transform: translateX(-110%) translateZ(-100px) scale(0.6);
    background: #ffff00;
  }

  .card1:nth-child(4) {
    transform: translateX(110%) translateZ(-100px) scale(0.6);
    background: #ff4500;
  }

  .card1:nth-child(5) {
    transform: translateX(55%) translateZ(-50px) scale(0.8);
    background: #7fff00;
  }

  /* EVENTS */
  .our-events-container {
    position: absolute;
    top: 1650px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    z-index: 0;
    overflow: hidden;


  }

  .our-events-element1 {
    position: absolute;
    width: 10%;


    float: left;
    padding: 20px;
    top: 35%;


  }

  .our-events-element2 {
    width: 70%;
    float: right;
    padding: 20px;
    top: 50%;
    position: relative;
    color: rgb(252, 248, 240);
    top: 50%;
    font-size: 50px;
  }

  .our-events-element3 {
    width: 60%;
    float: center;
    padding: 20px;
    top: 50%;

  }

  .static-logo2 {
    position: relative;
    top: -50px;
    opacity: 0.5;
    width: 150px;
    left: -35px;
  }

  .event-container {
    position: absolute;
    top: 2100px;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .event-container1 {
    position: absolute;
    top: 2800px;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .event-container2 {
    position: absolute;
    top: 3500px;
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .slider-wrapper {
    position: relative;
    max-width: 20rem;
    margin: 0 auto;
  }

  .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 0.25);
    border-radius: 0.5rem;
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .slider-nav a {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition-property: opacity ease 250ms;
  }

  .slider-nav a:hover {
    opacity: 1;
  }


  .row {
    margin: auto;
    width: 100%;
    text-align: center;
    /* Vertically center the content */
  }

  .text-section {
    flex: 1;
    /* Let the text section take up available space */
    font-size: 14px;
    padding-bottom: 2rem;

  }

  .carousel-section {
    flex: 1;
    /* Let the carousel section take up available space */
    width: 100%;
    /* Add padding as needed */
  }



  /* EVENT CARDS END */
  /* Segments */
  .segments-container {
    position: absolute;
    top: 4000px;
    overflow: hidden;
    width: 70%;
    font-size: 40px;
  }

  .segments-element1 {
    width: 100%;
    position: absolute;
    left: 150px;
    top: 50px;
  }

  .segment-element2 {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50px;
    font-size: 80px;
  }

  .wrapper {
    position: absolute;
    /* border: red solid; */
    top: 4800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 50px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    height: 450px;
    /* Consider adjusting the container's height */
    justify-content: center;
    margin: 20px 0;
    /* Spacing between cards */
  }

  .card {
    align-items: flex-end;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    /* Spacing between cards */
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    height: 80px;
    /* Initial card height */
    width: 100%;
    /* Full width */
  }

  .card>.row {
    color: transparent;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 55px;
  }

  .card>.row>.icon {
    display: none;
    align-items: center;
    background: #223;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    margin: 15px;
    height: 50px;
    /* Adjusted height */
    width: 50px;
  }

  .card>.row>.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    transition-delay: 0.3s;

    height: 80px;
    width: 100%;
    /* Adjust as necessary */
    text-align: center;
    /* Center text */


  }

  .description p {
    color: #b0b0ba;
    font-size: 8px;
  }

  .description h4 {
    text-transform: uppercase;
  }

  input {
    display: none;
  }

  input:checked+label {
    height: 450px;
    /* Expanded height */
  }

  input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }


  .card[for="c1"] {
    background-image: url('./assets/images/spotlight.png');
  }

  .card[for="c2"] {
    background-image: url('./assets/images/polls.png');
  }

  .card[for="c3"] {
    background-image: url('./assets/images/Lyrically_Speaking.png');
  }

  .card[for="c4"] {
    background-image: url('./assets/images/Recommends.png');
  }

  .card[for="c5"] {
    background-image: url('./assets/images/Monday_musings.png');
  }

  /* contact us */
  .contact-container {
    position: absolute;
    top: 5600px;
    font-size: 20px;
  }

  .contact-element3 {
    width: 60%;
    float: center;
    padding: 20px;
    top: 50%;
    position: relative;
    color: rgb(252, 248, 240);
    top: 50%;

  }

  .contact-element3 p {
    position: relative;
    color: rgb(252, 248, 240);
    font-size: 12px;
  }

  .contacts-container {
    position: absolute;
    top: 6000px;
    margin: auto;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(21, 21, 21);

    /* border: red solid; */
  }

  .social-links {
    text-align: center;
    margin: 20px 0px;

  }

  .social-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(21, 21, 21);
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 5px 0px #909090;
    color: rgb(252, 248, 240);
    overflow: hidden;
    position: relative;


  }

  .social-btn i {
    line-height: 50px;
    font-size: 22px;
    transition: 0.2s linear;
  }

  .social-btn:hover i {
    transform: scale(1.3);
    color: rgb(220, 144, 22);
  }

  .social-btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(21, 21, 21);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  .social-btn:hover::before {
    animation: effect 0.6s 1;
    top: -10%;
    left: -10%;
  }

  p a {
    color: #aa3d4f;
  }

  /*-- Hover Animation Effect --*/
  @keyframes effect {
    0% {
      left: -120%;
      top: 100%;
    }

    50% {
      left: 10%;
      top: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }
}





/* For screens with a minimum width of 1025px (typical laptops and desktops) */
@media (min-width: 1025px) {
  body {
    overflow-x: hidden;
  }

  #video-box {
    height: 100vh;
    width: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
  }

  /* Adjust styles for larger screens here */
  header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }

  header h4 {
    position: absolute;
    left: 5%;
    bottom: 1rem;
    font-size: 1.6rem;
  }

  /* splash screen */
  .intro {
    position: absolute;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    transition: 2s;
  }

  .logo-header {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-60%, -60%);
  }

  .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
  }

  .logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  .logo.fade {
    bottom: 550px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }

  .intro-image {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 235px;
    left: 400px;
  }

  .intro-image img {
    width: 100%;
    height: 80px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

  /* NAVBAR */
  .navbar-wrapper {
    color: #000000;
    font-family: Sans-Serif;
    background-color: #f6f6f6;
    position: fixed;
    z-index: 100;
  }

  .container {
    padding: 18px;
    width: 100%;
    background-color: rgb(21, 21, 21);
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-menu {
    position: absolute;
    right: 0;
  }

  .navbar-logo {
    position: relative;
    height: 60px;
    left: 10px;
    width: auto;
    opacity: 0.8;
  }

  .container li {
    list-style: none;
    display: inline;
  }

  .container li a {
    text-decoration: none;
    padding: 14px 20px;
    font-size: 16px;
    border-radius: 4px;
    color: rgb(252, 248, 240);
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    transition: all .3s ease-in;
    font-family: "Play", sans-serif;
  }

  .container li a:hover {
    background-color: rgb(21, 21, 21);
    background-color: rgb(252, 248, 240);
    color: rgb(21, 21, 21);
  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }

  .vertical-center {
    position: absolute;
    top: 75%;
    left: 55px;
    transform: translate(0, -50%);
    padding: 10px;
    width: 100%;
  }

  .vertical-center h2 {
    font-size: 85px;
    letter-spacing: 2px;
    color: rgb(252, 248, 240);
  }

  .vertical-center h3 {
    font-size: 25px;
    letter-spacing: 4px;
    color: #9b999b;
    font-weight: bolder;
  }

  .about-us {
    position: absolute;
    top: 790px;
    width: 100%;
    height: 750px;
    left: 0px;
    overflow: hidden;
  }

  .about-us-element {
    width: 75%;
    position: relative;
    left: 570px;
    top: 120px;
    margin: auto;
    margin-left: 0px;
    padding-top: 30px;
    flex: 1;
  }

  .social-media {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 30px;
    left: 90px;
  }

  .social-media img {
    width: 450px;
    height: 450px;
  }

  .about-us-element h2 {
    position: absolute;
    left: 60px;
    font-size: 65px;
    letter-spacing: 8px;
  }

  .brick {
    width: 35px;
    height: 285px;
    background-color: orange;
    position: absolute;
    left: -6px;
  }

  .about-us-element h3 {
    position: absolute;
    font-size: 15px;
    text-align: left;
    width: 65%;
    letter-spacing: 2px;
    top: 130px;
    left: 60px;
  }

  /* EVENTS */
  .our-events-container {
    position: absolute;
    top: 1500px;
    left: 30px;
    width: 70%;
    padding: 20px;
    height: 500px;
  }

  .our-events-element1 {
    width: 60%;
    float: left;
    top: 80%;
    height: 350px;
  }

  .our-events-element2 {
    position: absolute;
    width: 60%;
    left: 600px;
    top: 165px;
    z-index: 99;
    font-size: 110px;
  }

  .static-logo2 {
    position: absolute;
    left: 60px;
    opacity: 0.75;
    width: 73%;
  }


  /* AREYY RISHIKESH BOOKMARK CODE IDHE */
  /* OKAY */

  /* BOOK MARK STYLES */
  .flex-container {
    display: flex;
    position: absolute;
    top: 2100px;
    width: 100%;
    height: 1000px;
  }

  .book_container {
    position: absolute;
  }

  .book_description {
    width: 50%;
    color: white;
    flex: 2;
    position: absolute;
    left: 51%;
    top: 65px;
    background-color: transparent;
    padding-right: 50px;
  }

  #book_slider-wrapp {
    width: 50%;
    height: fit-content;
    position: absolute;
    height: auto;
    margin: auto;
    text-align: center;
    flex: 1;
  }

  .book_description h2 {
    color: #FFFFFF;
    font-size: 80px;
    position: absolute;
    left: 30px;
    width: 80%;
    /* background-color: transparent; */
  }

  .event_brick {
    width: 30px;
    height: 90px;
    background-color: orange;
    position: absolute;
    left: -20px;
    top: 13px;
  }

  .book_description p {
    width: 90%;
    position: absolute;
    top: 130px;
    left: -20px;
    text-align: justify;
    background-color: transparent;
  }

  #book_slider-wrapp #book_slider {
    width: 100%;
    height: auto;
    position: relative;
  }

  #book_slider-wrapp #book_slider .slide {
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add slight shadow */
    border: 2px solid #FFFFFF;
    /* Add white border */
  }

  #book_slider-wrapp #book_slider .slide img {
    width: 100%;
    border-radius: 2px;
    /* Optional: Add border-radius to the image */
    border: 1px solid #FFFFFF;
    /* Optional: Add border to the image */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(1) {
    top: 80px;
    opacity: 1;
    transform: scale(0.5);
    /* Decrease size by 50% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(2) {
    top: 40px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(3) {
    top: 0px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(4) {
    top: 100px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #book_slider-wrapp #book_slider .slide:nth-child(5) {
    top: 50px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  #book_slider-wrapp #book_slider .slide.active {
    top: 0;
    opacity: 1;
  }

  #book_slider-wrapp #book_slider.transfomer .slide {
    /* Adjust transformations as needed for the 2D effect */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(2) {
    top: 160px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(3) {
    top: 100px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(4) {
    top: 40px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #book_slider-wrapp #book_slider.transfomer .slide:nth-child(5) {
    top: 20px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }



  /* CRESCENTIA STYLES */
  .crescentia_container {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 500px;
  }

  .crescentia_description {
    width: 50%;
    color: white;
    flex: 2;
    position: absolute;
    left: 51%;
    top: 65px;
    background-color: transparent;
    padding-right: 50px;
  }

  #crescentia_slider-wrapp {
    width: 50%;
    height: fit-content;
    position: absolute;
    height: auto;
    margin: auto;
    text-align: center;
    flex: 1;
  }

  .crescentia_description h2 {
    color: #FFFFFF;
    font-size: 80px;
    position: absolute;
    left: 30px;
    background-color: transparent;
  }

  /* .crescentia_description span {
    background-color: #e2761d;
    color: black;
  } */

  .event1_brick {
    width: 30px;
    height: 90px;
    background-color: orange;
    position: absolute;
    left: -10px;
    top: 13px;
  }

  .crescentia_description p {
    width: 90%;
    text-align: justify;
    position: absolute;
    top: 130px;
    left: -10px;
    background-color: transparent;
  }

  #crescentia_slider-wrapp #slider1 {
    width: 100%;
    height: auto;
    position: relative;
  }

  #crescentia_slider-wrapp #slider1 .slide1 {
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add slight shadow */
    border: 2px solid #FFFFFF;
    /* Add white border */
  }

  #crescentia_slider-wrapp #slider1 .slide1 img {
    width: 100%;
    border-radius: 2px;
    /* Optional: Add border-radius to the image */
    border: 1px solid #FFFFFF;
    /* Optional: Add border to the image */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(1) {
    top: 80px;
    opacity: 1;
    transform: scale(0.5);
    /* Decrease size by 50% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(2) {
    top: 40px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(3) {
    top: 0px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(4) {
    top: 100px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #crescentia_slider-wrapp #slider1 .slide1:nth-child(5) {
    top: 50px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  #crescentia_slider-wrapp #slider1 .slide1.active {
    top: 0;
    opacity: 1;
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1 {
    /* Adjust transformations as needed for the 2D effect */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(2) {
    top: 160px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(3) {
    top: 100px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(4) {
    top: 40px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #crescentia_slider-wrapp #slider1.transfomer .slide1:nth-child(5) {
    top: 20px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }


  /* LITERATI STYLES */
  .literati_container {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 500px;
  }

  .literati_description {
    width: 50%;
    color: white;
    flex: 2;
    position: absolute;
    left: 51%;
    top: 65px;
    background-color: transparent;
    padding-right: 50px;
  }

  #literati_slider-wrapp {
    width: 50%;
    height: fit-content;
    position: absolute;
    height: auto;
    margin: auto;
    text-align: center;
    flex: 1;
  }

  .literati_description h2 {
    color: #FFFFFF;
    font-size: 80px;
    position: absolute;
    left: 40px;
    background-color: transparent;
  }

  .literati_description p {
    width: 100%;
    position: absolute;
    top: 130px;
    text-align: justify;
    background-color: transparent;
  }

  .event2_brick {
    width: 30px;
    height: 90px;
    background-color: orange;
    position: absolute;
    left: -10px;
    top: 13px;
  }



  #literati_slider-wrapp #slider2 {
    width: 100%;
    height: auto;
    position: relative;
  }

  #literati_slider-wrapp #slider2 .slide2 {
    color: #FFFFFF;
    position: absolute;
    width: 700px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Add slight shadow */
    border: 2px solid #FFFFFF;
    /* Add white border */
  }

  #literati_slider-wrapp #slider2 .slide2 img {
    width: 100%;
    border-radius: 2px;
    /* Optional: Add border-radius to the image */
    border: 1px solid #FFFFFF;
    /* Optional: Add border to the image */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(1) {
    top: 80px;
    opacity: 1;
    transform: scale(0.5);
    /* Decrease size by 50% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(2) {
    top: 40px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(3) {
    top: 0px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(4) {
    top: 100px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #literati_slider-wrapp #slider2 .slide2:nth-child(5) {
    top: 50px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }

  #literati_slider-wrapp #slider2 .slide2.active {
    top: 0;
    opacity: 1;
  }

  #literati_slider-wrapp #slider2.transfomer .slide2 {
    /* Adjust transformations as needed for the 2D effect */
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(2) {
    top: 160px;
    opacity: 1;
    transform: scale(0.6);
    /* Decrease size by 40% */
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(3) {
    top: 100px;
    opacity: 1;
    transform: scale(0.7);
    /* Decrease size by 30% */
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(4) {
    top: 40px;
    opacity: 1;
    transform: scale(0.8);
    /* Decrease size by 20% */
  }

  #literati_slider-wrapp #slider2.transfomer .slide2:nth-child(5) {
    top: 20px;
    opacity: 1;
    transform: scale(0.9);
    /* Decrease size by 10% */
  }




  /* SEGMENTS */
  .segments-container {
    position: absolute;
    top: 3800px;
    height: 300px;
    width: 100%;
  }

  .segments-container h1 {
    width: 70%;
    position: absolute;
    left: 540px;
    font-size: 100px;
    top: 95px;
    z-index: 5;
  }

  .static-logo3 {
    position: absolute;
    top: -55px;
    left: 35px;
    opacity: 0.85;
    height: 425px;
  }

  .segment-element3 {
    width: 60%;
    float: center;
    top: 50%;
  }

  .wrapper {
    position: absolute;
    top: 4200px;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  .card-container {
    display: flex;
    flex-wrap: nowrap;
    height: 350px;
    justify-content: start;
  }

  .card {
    align-items: flex-end;
    background-size: cover;
    border-radius: .75rem;
    border-radius: 2rem;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: flex;
    margin: 0 10px;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    width: 50px;
  }

  .card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    bottom: 80px;
    width: 100%;
  }

  .card>.row>.icon {
    position: absolute;
    top: 20px;
    align-items: center;
    background: #223;
    border-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    width: 50px;
  }

  .card>.row>.description {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s ease;
    transition-delay: .3s;
    width: 100%;
  }

  .description p {
    position: relative;
    left: 20px;
    color: #b0b0ba;
  }

  .description h4 {
    position: relative;
    left: 20px;
    text-transform: uppercase;
    z-index: 10;
  }

  input {
    display: none;
  }

  input:checked+label {
    width: 600px;
  }

  input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  .card[for="c1"] {
    background-image: url('./assets/images/spotlight.png');
  }

  .card[for="c2"] {
    background-image: url('./assets/images/polls.png');
  }

  .card[for="c3"] {
    background-image: url('./assets/images/Lyrically_Speaking.png');
  }

  .card[for="c4"] {
    background-image: url('./assets/images/Recommends.png');
  }

  .card[for="c5"] {
    background-image: url('./assets/images/Monday_musings.png');
  }




  /* CONTACT US */
  .contact-container {
    position: absolute;
    top: 4950px;
    left: 50px;
    font-size: 50px;
  }

  .contact-element3 {
    width: 100%;
    float: center;
    padding: 20px;
    position: relative;
    color: rgb(252, 248, 240);
    top: 50%;

  }

  .contact-element3 p {
    position: absolute;
    color: rgb(252, 248, 240);
    font-size: 20px;
    left: 40px;
  }

  .contacts-container {
    position: absolute;
    top: 5100px;
    left: 90px;
    padding: 10px 0px;
    margin-top: 50px;
    background-color: rgb(21, 21, 21);
    width: max-content;
    display: flex;
    align-items: center;
    /* border: red solid; */
  }

  .contacts-container h1 {
    color: rgb(252, 248, 240);
    font-size: 20px;
    left: 10px;
  }

  .social-links {
    text-align: center;
    margin: 20px 0px;
  }

  .social-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgb(21, 21, 21);
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 5px 0px #909090;
    color: rgb(252, 248, 240);
    overflow: hidden;
    position: relative;
  }

  .social-btn i {
    line-height: 50px;
    font-size: 22px;
    transition: 0.2s linear;
  }

  .social-btn:hover i {
    transform: scale(1.3);
    color: rgb(220, 144, 22);
  }

  .social-btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(21, 21, 21);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }

  .social-btn:hover::before {
    animation: effect 0.6s 1;
    top: -10%;
    left: -10%;
  }

  p a {
    color: #aa3d4f;
  }

  /*-- Hover Animation Effect --*/
  @keyframes effect {
    0% {
      left: -120%;
      top: 100%;
    }

    50% {
      left: 10%;
      top: -30%;
    }

    100% {
      top: -10%;
      left: -10%;
    }
  }


  .gallery2 {
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 80%;
    height: 300px;
    transition: all 400ms;
  }

  .gallery2:hover .box {
    filter: grayscale(100%) opacity(24%);
  }

  .box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery2 .box:hover {
    filter: grayscale(0%) opacity(100%);
  }

  .gallery2:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  }

  .gallery2:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  }

  .gallery2:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  }

  .gallery2:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
  }

  .gallery2:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
  }


  /*-- Footer Responsive CSS --*/
  @media (max-width: 576px) {
    .social-btn {
      width: 40px;
      height: 40px;
      margin: 5px;
    }

    .social-btn i {
      line-height: 40px;
      font-size: 18px;
    }
  }

}