* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    background-color: rgb(21, 21, 21);
    
}
/* For screens with a maximum width of 768px (typical mobile devices) */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    header {
        height: 60px;
        
    }
    h1 {
        font-size: larger;
        position: relative;
        left: 50%;
    }
}

/* For screens with a width between 769px and 1024px (typical tablet devices) */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for tablets here */
}

/* For screens with a minimum width of 1025px (typical laptops and desktops) */
@media (min-width: 1025px) {
    /* Adjust styles for larger screens here */
}
/* 
.hero{
     height: 100vh;
     width: min-content;
     background-image: url('./assets/images/IMG_20230204_144608_175.jpg');
} */
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
}

header h4{
    position: absolute;
    left: 5%;
    bottom: 1rem;
    font-size: 1.6rem;
}

/* splash screen */
.intro{
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 21);
    transition: 2s;
}
.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.container{
  
  padding: 18px; 
  width: 100%;
  overflow: hidden;
  background-color: rgb(21, 21, 21);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container li{
  list-style: none;
  display: inline;
}
.container li a{
  text-decoration: none;
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 4px;
  color: rgb(252, 248, 240);
  display: inline-block;
  text-align: center;
  letter-spacing: 1px;
  transition: all .3s ease-in;
  font-family: "Play", sans-serif;
}
.container li a:hover{
  background-color: rgb(21, 21, 21);
  background-color: rgb(252, 248, 240);
  color: rgb(21, 21, 21);
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.vertical-center {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translate(0, -50%);
  padding: 10px;
  
}

/* about us gallery animation */
.gallery {
  --d: 20s;
  /* duration */
  display: grid;
  width: 300px;
  margin: auto;
  max-width: max-content;
  
  

}

.gallery > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #f2f2f2;
  box-shadow: 0 0 4px #0007;
  z-index: 2;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
  animation-delay: 200ms;

}

.gallery img:last-child {
  animation-name: slide, z-order-last;
}

.gallery > img:nth-child(1) {
  animation-delay: calc(0* var(--d));
  --r: 20deg;
}

.gallery > img:nth-child(2) {
  animation-delay: calc(-0.2* var(--d));
  --r: -17deg;
}

.gallery > img:nth-child(3) {
  animation-delay: calc(-0.4* var(--d));
  --r: 14deg;
}

.gallery > img:nth-child(4) {
  animation-delay: calc(-0.6* var(--d));
  --r: 19deg;
}

.gallery > img:nth-child(5) {
  animation-delay: calc(-0.8* var(--d));
  --r: -4deg;
}

@keyframes slide {
  10% {
    transform: translateX(50%) rotate(var(--r));
  }
  0%, 100%, 20% {
    transform: translateX(0%) rotate(var(--r));
  }
}
@keyframes z-order {
  10%, 20% {
    z-index: 1;
  }
  80% {
    z-index: 2;
  }
}
@keyframes z-order-last {
  10%, 20% {
    z-index: 1;
  }
  90% {
    z-index: 2;

  }
}
.logo-bg{
    position: absolute;
    align-items:flex-end;
    right: 0;
    top: 300px;
    z-index: -1;

}
.static-logo{
  opacity: 0.5;
  height: 500px;
  right: 0px;
  
}
.about-us{
  position: absolute;
  top: 900px;
  left: 20px;
  width: 100%;

  padding: 20px;

}

.about-us-element{
  width: 50%;
  float: left;
  padding: 20px;
  

}

/* EVENTS */

.event-container{
  position: absolute;
  top: 1600px;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.slider-wrapper{
  position:relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider{
  display:flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%,0%,0%,0.25);
  border-radius:0.5rem;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a{
  width: 0.75rem;
  height:0.75rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition-property: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}


.row {
  display: flex; /* Use flexbox for side-by-side layout */
  align-items: center; /* Vertically center the content */
}

.text-section {
  flex: 1; /* Let the text section take up available space */
  padding: 2rem; /* Add padding as needed */
}

.carousel-section {
  flex: 1; /* Let the carousel section take up available space */
  padding: 2rem; /* Add padding as needed */
}
