@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: #121212;
    height: 400vh;
    display: grid;
    place-items: center;
}

/* new navbar div */
#flex-container {
    display: flex;
    position: absolute;
    top: -10px;
    /* Try changing this*/
    right: 30px;
    /* And this, if position doesn't match*/
    height: 290px;
    padding: 10px;
    flex-flow: column wrap;
    align-content: center;
    width: 500px;
    /* Try changing this also */
    line-height: 75px;
}

/* Enable this for the navbar to work*/
/* a {
    background-color: #FFDEA8; Fallback background color for older browsers
    background-image: linear-gradient(45deg, #FFDEA8, #FEC84E);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: 0.5s ease-out;
    z-index: 3;
} */

nav {
    margin: 5px;
}

#navbar_4 {
    position: absolute;
    width: 500px;
    /* Try changing this */
    height: 50px;
    background: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar_4 .how {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

#navbar_4 span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 5px;
    background: linear-gradient(45deg, #FFDEA8, #FEC84E);
    border-radius: 8px;
    transition: 0.5s;
}

/* Tweak all of these numbers if the line is not in corrent place*/
#navbar_4 .how:nth-child(1):hover~span {
    left: 0;
}

#navbar_4 .how:nth-child(2):hover~span {
    left: 94px;
}

#navbar_4 .how:nth-child(3):hover~span {
    left: 190px;
    width: 90px;
}

#navbar_4 .how:nth-child(4):hover~span {
    left: 307px;
    width: 85px;
}

#navbar_4 .how:nth-child(5):hover~span {
    left: 415px;
    width: 90px;
}


/* new events section */

/* Name Span */
.first_half {
    color: #f1b24a;
}


.image {
    display: block;
    width: 100%;
    /* Width = 100% / number of images */
    height: 400px;
    object-fit: cover;
}

/* For crescentia */
.crescentia_container {
    position: absolute;
    top: 80px;
    left: 40px;
    width: 50%;
    height: 400px;
}

/* Overlay, when you hover */
.crescentia_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: width 0.34s ease;
}

.crescentia_container:hover .crescentia_overlay {
    width: 100%;
}

/* Keep in mind */
/* Whenever you change the position of this h1 */
/* Even the book mark one will change */
/* Give them different id's, If you want to change them separatelyy */
h1 {
    width: 100%;
    margin-top: -38%;
    margin-left: 120%;
    color: white;
    font-size: 4vw;
    position: absolute;
    text-align: left;
}

/* The same goes for this h2 also */
/* Content for overlay */
h2 {
    text-align: justify;
    color: white;
    font-size: 1.2vw;
    margin: 12% 0 0 13%;
    width: 70%;
    letter-spacing: 3px;
    line-height: 1.5em;
}

.slider {
    width: 100%;
    max-width: 650px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    width: 100%;
    max-width: 650px;
    height: 400px;
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* buttons css */
.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

.crescentia_container:hover .btn-prev {
    z-index: 3;
}

.crescentia_container:hover .btn-next {
    z-index: 3;
}



/* Literati Styles */
.literati_container {
    position: absolute;
    top: 600px;
    right: 140px;
    /* Change 'left' to 'right' */
    width: 50%;
    height: 400px;
}

.literati_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: width 0.34s ease;
}

.literati_container:hover .literati_overlay {
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    /* Width = 100% / number of images */
    height: 400px;
    object-fit: cover;
    /* Maintain aspect ratio */
}

.literati_heading {
    width: 100%;
    margin-top: -38%;
    margin-left: -60%;
    /* Remove this rule or adjust margin-left */
    color: white;
    font-size: 4vw;
    position: absolute;
    text-align: left;
    left: 40px;
    /* Add this rule to position 'h1' on the left */
}

h2 {
    text-align: justify;
    color: white;
    font-size: 1.2vw;
    margin: 12% 0 0 13%;
    width: 70%;
    letter-spacing: 3px;
    line-height: 1.5em;
}

.literati_slider {
    width: 100%;
    max-width: 650px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.literati_slide {
    width: 100%;
    max-width: 650px;
    height: 400px;
    position: absolute;
    transition: all 0.5s;
}

.literati_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn1 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn1:active {
    transform: scale(1.1);
}

.btn1-prev {
    top: 45%;
    left: 2%;
}

.btn1-next {
    top: 45%;
    right: 2%;
}

.literati_container:hover .btn1-prev {
    z-index: 3;
}

.literati_container:hover .btn1-next {
    z-index: 3;
}

/* Book Mark styles */
.book_container {
    position: absolute;
    top: 1100px;
    left: 40px;
    width: 50%;
    height: 400px;
}

.book_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: width 0.34s ease;
}

.book_container:hover .book_overlay {
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    /* Width = 100% / number of images */
    height: 400px;
    object-fit: cover;
}

h1 {
    width: 100%;
    margin-top: -38%;
    margin-left: 110%;
    color: white;
    font-size: 4vw;
    position: absolute;
    text-align: left;
}

h2 {
    text-align: justify;
    color: white;
    font-size: 1.2vw;
    margin: 12% 0 0 13%;
    width: 70%;
    letter-spacing: 3px;
    line-height: 1.5em;
}

.book_slider {
    width: 100%;
    max-width: 650px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.book_slide {
    width: 100%;
    max-width: 650px;
    height: 400px;
    position: absolute;
    left: 0;
    transition: all 0.5s;
}

.book_slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn2 {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn2:active {
    transform: scale(1.1);
}

.btn2-prev {
    top: 45%;
    left: 2%;
}

.btn2-next {
    top: 45%;
    right: 2%;
}

.book_container:hover .btn2-prev {
    z-index: 3;
}

.book_container:hover .btn2-next {
    z-index: 3;
}

































































/* * {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Poppins", "sans-serif";
    font-weight: 600;  
}


.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: 2s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: relative;
    display: inline-block;
    color: white;
    bottom: -20px;
    opacity: 0;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


header {
    position: absolute;
    left: 10px;
    top: 0;
    width: 100%;
    height: 80px;
}

header h4 {
    position: absolute;
    left: 10%;
    bottom: 1rem;
    font-size: 1.6rem;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    padding: 10px 0;
}

nav {
    position: absolute;
    left: 650px;
    top: 15px;
    width: 60%;
    float: right;
}

nav ul {
    margin: 0;
    padding: 10px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: aliceblue;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: aliceblue;
}

nav a::before {
    content: '';
    display: block;
    height: 6.5px;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.logo-top{
    margin-left: 50px;
    margin-top: 20px;
    width: 40%;
}
.logo-top img{
    width: 20%;
    height: 70px;
}

.literary-brains {
    color: aliceblue;
    position: absolute;
    top: 200px;
    left: 90px;
    font-size: 35px;
}


.about-us-container {
    color: aliceblue;
    width: 100%;
    height: 300px;
    position: relative;
    top: 800px;
    left: 50px;
    margin: 50px;
    font-size: 35px;
}

.about-us-container{
    width: 50%;
}

.about-us-container p{
    width: 450px;
    font-size: 20px;
}
.about-us-container img{
    position: relative;
    top: -325px;
    left: 600px;
    width: 100%;
}

.contact-info-container h1{
    color:aliceblue;
    position: relative;
    top: 1150px;
    left: 50px;
} */