body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Work Sans', sans-serif;
  background-color: #121212;
  height: 400vh;
  display: grid;
  place-items: center;
}

.literati_container {
  position: absolute;
  top: 600px;
  right: 140px; /* Change 'left' to 'right' */
  width: 50%;
  height: 400px;
}

.literati_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.70);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: width 0.34s ease;
}

.literati_container:hover .literati_overlay {
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  /* Width = 100% / number of images */
  height: 400px;
  object-fit: cover;
  /* Maintain aspect ratio */
}

h1 {
  width: 100%;
  margin-top: -38%;
  margin-left: -60%; /* Remove this rule or adjust margin-left */
  color: white;
  font-size: 4vw;
  position: absolute;
  text-align: left;
  left: 40px; /* Add this rule to position 'h1' on the left */
}

h2 {
  text-align: justify;
  color: white;
  font-size: 1.2vw;
  margin: 12% 0 0 13%;
  width: 70%;
  letter-spacing: 3px;
  line-height: 1.5em;
}

.literati_slider {
  width: 100%;
  max-width: 650px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.literati_slide {
  width: 100%;
  max-width: 650px;
  height: 400px;
  position: absolute;
  transition: all 0.5s;
}

.literati_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn1 {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn1:active {
  transform: scale(1.1);
}

.btn1-prev {
  top: 45%;
  left: 2%;
}

.btn1-next {
  top: 45%;
  right: 2%;
}

.literati_container:hover .btn1-prev {
  z-index: 3;
}

.literati_container:hover .btn1-next {
  z-index: 3;
}
